server:
  port: 8081

spring:
  application:
    name: user
  datasource:
    url: jdbc:postgresql://localhost:5432/fedb
    username: postgres
    password: 622000
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
